*.pyc
*.token

**/__pycache__/

*.log
*.nl

**.back
**.XXX
pyomo-everest/examples/
pyomo-everest/ssop/miscTest/
test/tmp/*
TMP/
test/tmp
SvFlib/_START.py
SvFlib/MakeModel_old.py
SvFlib/SvF_Log.Out


SvF_UserGuide28v01.docx.bak
Цитировать.odt
SvF.zip

**/results.zip
**/results/
SvFlib/runSvFlocal.sh
